
header {
    background-color: #add8e6;
    color:black;
    text-align: center;
    padding: 10px;
    position: relative;
    display: flex;


}

.logout img{
    float: right;
    width: 50px; 
    height: auto; 
}

.logout {
    float: right;
    margin-right: 10px;
    margin-left: 60px;
    margin-top: 20px;
}

.profile {
    margin-left: 40px; 
    
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin-right: 20px;
}

.logo{
    margin-right: 1099px;
}

.logo img {
    width: 100px;
}

.container {
    margin-top: 40px;
}

.box {
    background-color: #b8b5b5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgb(65, 64, 64);
    transition: transform 0.2s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
/* لضمان أن الصفحة تأخذ كامل الشاشة */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* الحاوية الرئيسية */
.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* المحتوى الرئيسي */
main {
    flex: 1;
}

/* الفوتر */
footer {
    background-color: #add8e6;
    color: black;
    text-align: center;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}



